.loader-spinner-editor{
    width: 98%;
    min-height: 26rem;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffff;
    border-radius: 10px;
}

.mat-mdc-progress-spinner .mdc-circular-progress__indeterminate-circle-graphic {
    stroke:hsl(0, 100%, 27%) !important;
}