<!-- Cards -->
<h3 class="blogs__cards-heading" style="margin: 2rem 0 2rem 0;"> Latest Blogs</h3>
<div class="row">

  <div class="col-lg-4" *ngFor="let card of blogs; let i=index">
    <mat-card class="overflow-hidden" *ngIf="i<3">
      <div>
        <img [src]="url+card.thubmnailPhoto" class="w-100 blog-card-image" alt="card.title">
      </div>
      <mat-card-content>
        <div>
          <p class="fs-18 lh-lg fw-medium">
            {{card.title}}
          </p>
          <p class="op-7 blog-card-description">
            {{card.description}}
          </p>
          <button mat-flat-button  class="fw-normal mt-4 blog-btn" (click)="navigation()">View Blogs</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
