

<div class="container" >
  <app-loader *ngIf="isLaoding"></app-loader>
    <div class="app" *ngIf="!isLaoding">
      <div class="header">
        <h2><span class="title">Notifications</span> <span class="unread-notification-number">{{notifications.length}}</span></h2>
        <p (click)="markallRead()">Mark all as read</p>
      </div>
      <div class="body">
        <div class="notification" [matTooltip]="!item.isRead ?  'click To mark as read': ''" *ngFor="let item of notifications; let i=index" [class.unreaded]="item.isRead" (click)="markAsRead(item._id,i)">
          <div class="avatar"><div class="user-name-make">{{createNamegetInitials(item.name)}}</div></div>
          <div class="text">
            <div class="text-top" >
              <p class="text-message"><span class="profil-name">{{item.name}}</span> submitted an {{item.formType}} request <b>{{item.message}}</b><span class="unread-dot" *ngIf="!item.isRead"></span></p>
            </div>
            <div class="text-bottom"> {{formateDate(item.createdAt)}}</div>
          </div>
        </div>

   
      </div>
    </div>

  </div>
