<div class="container">
    <div class="app">
      <div class="header">
        <h2><span class="title">Notifications</span> <span class="unread-notification-number">3</span></h2>
        <p>Mark all as read</p>
      </div>
      <div class="body">
        <div class="notification unreaded">
          <div class="avatar"><div class="user-name-make">AH</div></div>
          <div class="text">
            <div class="text-top">
              <p><span class="profil-name">Ali Hassan</span> submitted an contact request <b>I need an website for my ecommerce business</b><span class="unread-dot"></span></p>
            </div>
            <div class="text-bottom"> 1m ago</div>
          </div>
        </div>
        <div class="notification unreaded">
            <div class="avatar"><div class="user-name-make">AH</div></div>
            <div class="text">
              <div class="text-top">
                <p><span class="profil-name">Ali Hassan</span> submitted an contact request <b>I need an website for my ecommerce business</b><span class="unread-dot"></span></p>
              </div>
              <div class="text-bottom"> 1m ago</div>
            </div>
          </div>
          <div class="notification unreaded">
            <div class="avatar"><div class="user-name-make">AH</div></div>
            <div class="text">
              <div class="text-top">
                <p><span class="profil-name">Ali Hassan</span> submitted an contact request <b>I need an website for my ecommerce business</b><span class="unread-dot"></span></p>
              </div>
              <div class="text-bottom"> 1m ago</div>
            </div>
          </div>
          <div class="notification unreaded">
            <div class="avatar"><div class="user-name-make">AH</div></div>
            <div class="text">
              <div class="text-top">
                <p><span class="profil-name">Ali Hassan</span> submitted an contact request <b>I need an website for my ecommerce business</b><span class="unread-dot"></span></p>
              </div>
              <div class="text-bottom"> 1m ago</div>
            </div>
          </div>
          <div class="notification unreaded">
            <div class="avatar"><div class="user-name-make">AH</div></div>
            <div class="text">
              <div class="text-top">
                <p><span class="profil-name">Ali Hassan</span> submitted an contact request <b>I need an website for my ecommerce business</b><span class="unread-dot"></span></p>
              </div>
              <div class="text-bottom"> 1m ago</div>
            </div>
          </div>
          <div class="notification unreaded">
            <div class="avatar"><div class="user-name-make">AH</div></div>
            <div class="text">
              <div class="text-top">
                <p><span class="profil-name">Ali Hassan</span> submitted an contact request <b>I need an website for my ecommerce business</b><span class="unread-dot"></span></p>
              </div>
              <div class="text-bottom"> 1m ago</div>
            </div>
          </div>
   
      </div>
    </div>

  </div>
