<h1 mat-dialog-title>{{ isEdit ? 'Edit Job Content':'Create New job'}}</h1>

        
        <mat-dialog-content class="mat-typography editor-tabs-container">
          <form  class="from" [formGroup]="userForm">

          <div class="blog-data-form">
            <mat-form-field  appearance="outline">
                <mat-label>Job Title</mat-label>
                <input matInput placeholder="Job title" formControlName="title">
              </mat-form-field>
            
            <div class="tow-col-row">
              <div class="cloumne">
              <mat-form-field  appearance="outline">
                <mat-label>Job Type</mat-label>
                <input matInput placeholder="Type" formControlName="type">
              </mat-form-field>
              
            </div>
            <div class="cloumne">
              <mat-form-field  appearance="outline">
                <mat-label>Job Category </mat-label>
                <input matInput placeholder="Category" formControlName="category">
              </mat-form-field>
              </div>
            </div>
            <div class="tow-col-row">
              <div class="cloumne">
                <mat-form-field  appearance="outline">
                    <mat-label>Job Level </mat-label>
                    <input matInput placeholder="Level" formControlName="level">
                  </mat-form-field>
         
                </div>
                <div class="cloumne">
                    <mat-form-field  appearance="outline">
                        <mat-label>Job Technology </mat-label>
                        <input matInput placeholder="Technology" formControlName="technology">
                      </mat-form-field>
             
                </div>
               
             
            </div>

     
          
          </div>
          <div class="blog-cta-section">
            <h3>Job Location</h3>
            <div class="blog-data-form">
              <div class="tow-col-row">
                <div class="cloumne">
                <mat-form-field  appearance="outline">
                  <mat-label>Job Country </mat-label>
                  <input matInput placeholder="Country" formControlName="country">
                </mat-form-field>
              </div>
              <div class="cloumne">
                <mat-form-field appearance="outline">
                  <mat-label>Job State</mat-label>
                  <input matInput placeholder="State" formControlName="state">
                </mat-form-field>
              </div>   
              </div>
              <div class="tow-col-row">
                <div class="cloumne">
                <mat-form-field  appearance="outline">
                  <mat-label>Job City</mat-label>
                  <input matInput placeholder="City" formControlName="city">
                </mat-form-field>
              </div>
              <div class="cloumne">
                <mat-form-field  appearance="outline">
                  <mat-label>Job Address</mat-label>
                  <input matInput placeholder="Address" formControlName="address">
                </mat-form-field>
              
                </div>
              </div>
  
            </div>
          </div>
          <h3 class="blog-content-heading">Job Details </h3>
          <p class="content-warning" color="accent">Please press the save button, When your are done with content writing process to save content in the database</p>
            <app-mce-editor (onContentChange)="receiveValueFromChild($event)" [data]="content" [isPlain]="true"  ></app-mce-editor>
          </form>
            </mat-dialog-content>
          
            <mat-dialog-actions align="end" *ngIf="!isEdit">
              <button mat-button mat-dialog-close >Cancel</button>
              <button class="save-btn" mat-button  (click)="createBlog()" [disabled]="userForm.invalid"    *ngIf="true" >Create</button>
       
  
            </mat-dialog-actions>
            <div align="end" *ngIf="isEdit" class="edit-job-navigation-btn">
              <button mat-button mat-dialog-close  (click)="navigation()"  >Cancel</button>
         
              <button class="save-btn" mat-button  (click)="updateJob()" [disabled]="userForm.invalid" >Update</button>
            </div>
            <button style="display: none;" mat-dialog-close #closeModelBtn></button>
   
 
 


