<h1 mat-dialog-title>Create New job</h1>

        
        <mat-dialog-content class="mat-typography editor-tabs-container">
          <form  class="from" [formGroup]="userForm">

          <div class="blog-data-form">
            <mat-form-field  appearance="outline">
                <mat-label>Job Title</mat-label>
                <input matInput placeholder="Blog title" formControlName="title">
              </mat-form-field>
            
            <div class="tow-col-row">
              <div class="cloumne">
              <mat-form-field  appearance="outline">
                <mat-label>Job Type</mat-label>
                <input matInput placeholder="Blog title" formControlName="title">
              </mat-form-field>
              
            </div>
            <div class="cloumne">
              <mat-form-field  appearance="outline">
                <mat-label>Job Category </mat-label>
                <input matInput placeholder="Blog Category" formControlName="category">
              </mat-form-field>
              </div>
            </div>
            <div class="tow-col-row">
              <div class="cloumne">
                <mat-form-field  appearance="outline">
                    <mat-label>Job Level </mat-label>
                    <input matInput placeholder="Blog Category" formControlName="category">
                  </mat-form-field>
         
                </div>
                <div class="cloumne">
                    <mat-form-field  appearance="outline">
                        <mat-label>Job Technology </mat-label>
                        <input matInput placeholder="Blog Category" formControlName="category">
                      </mat-form-field>
             
                </div>
               
             
            </div>

     
          
          </div>
          <div class="blog-cta-section">
            <h3>Job Location</h3>
            <div class="blog-data-form">
              <div class="tow-col-row">
                <div class="cloumne">
                <mat-form-field  appearance="outline">
                  <mat-label>Job Country </mat-label>
                  <input matInput placeholder="CTA Title" formControlName="ctaTitle">
                </mat-form-field>
              </div>
              <div class="cloumne">
                <mat-form-field appearance="outline">
                  <mat-label>Job State</mat-label>
                  <input matInput placeholder="CTA Button Text" formControlName="ctaBtn">
                </mat-form-field>
              </div>   
              </div>
              <div class="tow-col-row">
                <div class="cloumne">
                <mat-form-field  appearance="outline">
                  <mat-label>Job City</mat-label>
                  <input matInput placeholder="CTA URL" formControlName="ctaUrl">
                </mat-form-field>
              </div>
              <div class="cloumne">
                <mat-form-field  appearance="outline">
                  <mat-label>Job Address</mat-label>
                  <input matInput placeholder="Author" formControlName="author">
                </mat-form-field>
              
                </div>
              </div>
  
            </div>
          </div>
          <h3 class="blog-content-heading">Job Details </h3>
          <p class="content-warning" color="accent">Please press the save button, When your are done with content writing process to save content in the database</p>
            <app-mce-editor (onContentChange)="receiveValueFromChild($event)" ></app-mce-editor>
          </form>
            </mat-dialog-content>
          
            <mat-dialog-actions align="end">
              <button mat-button mat-dialog-close >Cancel</button>
              <button class="save-btn" mat-button  (click)="createBlog()" [disabled]="userForm.invalid" >Create</button>
            </mat-dialog-actions>
            <button style="display: none;" mat-dialog-close #closeModelBtn></button>
   
 
 


