
<div  class="loader-spinner-wrapper" *ngIf="isLoading">
  
  <mat-spinner color="primary" diameter="50" class="loading"></mat-spinner>



</div>


<div class="ag-format-container" *ngIf="!isLoading">
  <div class="ag-courses_box">
    <div class="ag-courses_item" *ngFor="let item of  stats">
      <a [routerLink]="item.link" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">
         {{item.name}}
        </div>

        <div class="ag-courses-item_date-box">
          
          <span class="ag-courses-item_date">
            +{{item.count <10 ? '0'+item.count:item.count}}
          </span>
        </div>
      </a>
    </div>

 

 






  </div>
</div>