<div class="container">
    <div class="row gutters">
    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
    <div class="card h-100">
        <div class="card-body">
            <div class="account-settings">
                <div class="user-profile">
                    <div class="user-avatar">
                        <img [src]="mediaUrl+user.photo" alt="Maxwell Admin">
                    </div>
                    <h5 class="user-name">Ali Hassan</h5>
                    <h6 class="user-email">ali.hassan@vertexitsol.com</h6>
                </div>

            </div>
        </div>
    </div>
    </div>
    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
    <form class="card h-100" [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="card-body">
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <h3 class="mb-2 info-heading-text">Personal Details</h3>
                </div>
                <div class="blog-data-form">
            
                    <div class="tow-col-row">
                      <mat-form-field class="cloumne" appearance="outline">
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="Name" formControlName="name">
                      </mat-form-field>
                      <mat-form-field class="cloumne" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Email" formControlName="email">
                        <div *ngIf="userForm.get('email')?.dirty && userForm.get('email')?.invalid" class="error">
                          <small *ngIf="userForm.get('email')?.errors?.['email']">Invalid email address</small>
                        </div>
                      </mat-form-field>
                      <div class="form-file0feild cloumne">
                        <p>Upload Frofile Image</p>
                      <div class="input-container-section">
                        <!-- <img src="https://bootdey.com/img/Content/avatar/avatar7.pngng" alt=""> -->
                        <input type="file" placeholder="Upload photo" (change)="onFileChange($event)" >
                      </div> 
                      </div>
                    </div>
            
                  </div>
            </div>
       
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="text-right">
                        <button mat-button (click)="navigation()" >Cancel</button>
                        <button mat-button  class="save-btn" [disabled]="userForm.invalid" >update</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </div>
    </div>
    </div>
