<mat-card>
    <mat-card-content>
        <div class="heading-container">
            <h1>Blogs</h1>
            <button mat-button class="btn" (click)="openDialog()">+ Add New</button>
        </div>
       
      <div class="container">

        <!-- <main class="grid">
          <article>
            <img src="https://picsum.photos/600/400?image=1083" alt="Sample photo">
            <div class="text">
              <h3>Seamlessly visualize quality</h3>
              <p>Collaboratively administrate empowered markets via plug-and-play networks.</p>
              <div class="buttons">
                <button mat-button class="edit-btn">Edit</button>
                <button mat-button class="edit-btn">Delete</button>
              </div>
             
            </div>
          </article>
          <article>
            <img src="https://picsum.photos/600/400?image=1063" alt="Sample photo">
            <div class="text">
              <h3>Completely Synergize</h3>
              <p>Dramatically engage seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing.</p>
              <div class="buttons">
                <button mat-button class="edit-btn">Edit</button>
                <button mat-button class="edit-btn">Delete</button>
              </div>
            </div>
          </article>
          <article>
            <img src="https://picsum.photos/600/400?image=1056" alt="Sample photo">
            <div class="text">
              <h3>Dynamically Procrastinate</h3>
              <p>Completely synergize resource taxing relationships via premier niche markets.</p>
              <div class="buttons">
                <button mat-button class="edit-btn">Edit</button>
                <button mat-button class="edit-btn">Delete</button>
              </div>
            </div>
          </article>
          <article>
            <img src="https://picsum.photos/600/400?image=1050" alt="Sample photo">
            <div class="text">
              <h3>Best in class</h3>
              <p>Imagine jumping into that boat, and just letting it sail wherever the wind takes you...</p>
              <div class="buttons">
                <button mat-button class="edit-btn">Edit</button>
                <button mat-button class="edit-btn">Delete</button>
              </div>
            </div>
          </article>
          <article>
            <img src="https://picsum.photos/600/400?image=1041" alt="Sample photo">
            <div class="text">
              <h3>Dynamically innovate supply chains</h3>
              <p>Holisticly predominate extensible testing procedures for reliable supply chains.</p>
              <div class="buttons">
                <button mat-button class="edit-btn">Edit</button>
                <button mat-button class="edit-btn">Delete</button>
              </div>
            </div>
          </article>
          <article>
            <img src="https://picsum.photos/600/400?image=1015" alt="Sample photo">
            <div class="text">
              <h3>Sanity check</h3>
              <p>Objectively innovate empowered manufactured products whereas parallel platforms.</p>
              <div class="buttons">
                <button mat-button class="edit-btn">Edit</button>
                <button mat-button class="edit-btn">Delete</button>
              </div>
            </div>
          </article>
        </main> -->
        <mat-form-field class="table-filter-container">
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" class="blogs-filter-input" placeholder="Search Title,Description, author" #input>
        </mat-form-field>
        
        <div class="mat-elevation-z8 request-table-wrapper">
          <table mat-table [dataSource]="dataSource" matSort>
        
            <!-- ID Column -->
            <ng-container matColumnDef="img">
              <th mat-header-cell *matHeaderCellDef> Image </th>
              <td mat-cell *matCellDef="let row"> <img [src]="row.img" alt="blog image"> </td>
            </ng-container>
        
            <!-- Progress Column -->
            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Title </th>
              <td mat-cell *matCellDef="let row"> {{row.title}}</td>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
              <td mat-cell *matCellDef="let row"> {{row.description}} </td>
            </ng-container>
        
            <!-- Fruit Column -->
            <ng-container matColumnDef="author">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Author </th>
              <td mat-cell *matCellDef="let row"> {{row.author}} </td>
            </ng-container>
  
                      <!-- Fruit Column -->
                      <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                        <td mat-cell *matCellDef="let row" class="table-actions-row"> 
                          <div class="action-icons-wrapper">
                            <mat-icon matTooltip="Edit Blog" matTooltipPosition="above"
                            class="action-icon1" aria-hidden="false" aria-label="Example home icon" fontIcon="edit"></mat-icon>

                            <mat-icon matTooltip="Delete Blog" matTooltipPosition="above" class="action-icon" aria-hidden="false" aria-label="Example home icon" fontIcon="delete"></mat-icon>
                            <mat-icon matTooltip="Publish Blog" matTooltipPosition="above" class="action-icon3" aria-hidden="false" aria-label="Example home icon" fontIcon="publish"></mat-icon>
                          </div>
                    

                          
                          
                          
                        </td>
                      </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
          </table>
        
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
        </div>

      </div>
    </mat-card-content>
  </mat-card>
